<dialog id="newFacturaModal" class="modal">
    <div class="container-column modal-flex">
        <div class="container-row modal-flex">
            <label class="modal-label">Número de factura</label>
            <input type="number" class="modal-input" [(ngModel)]="numeroFactura">
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Fecha de generación</label>
            <input type="date" class="modal-input" [(ngModel)]="fechaGeneracion">
        </div>
        <div class="container-row modal-flex">
            <button class="modal-secondary-button" onclick="newFacturaModal.close()" (click)="clearSelections()">Descartar</button>
            <button class="modal-main-button" [disabled]="(numeroFactura == undefined || numeroFactura < 0 || fechaGeneracion =='')" (click)="submitNewFactura()" onclick="newFacturaModal.close()">Guardar</button>
        </div>                    
    </div>
</dialog>
