<div class="item container-row"> <!--item template-->
    <div class="container-column">
        <div class="item-title" routerLink="/factura/{{facturaItem.id_factura}}" [state]="this.facturaItem">RM{{ facturaItem.numero_factura }}</div>
        <div class="item-detail">{{ facturaItem.fecha_generacion | date: 'dd/MM/yyyy':'+0:01' }}</div>
    </div>
    <button class="item-button" id="editar_factura" onclick="modal.showModal()"> <!--PENDIENTE-->
        <img class="item-icon" src="../../assets/icons/edit_icon.png" alt="Ícono de edición">
    </button>  
</div>