<div class="item container-column">

    <div class="container-row" [ngStyle]="{'height':'auto'}">
        <div>Fecha de inicio: {{periodoItem.fecha_inicio | date: 'yyyy-MM-dd':'+0:01'}} | Fecha de fin: {{periodoItem.fecha_fin | date: 'yyyy-MM-dd':'+0:01'}}</div>
        <!-- <div class="container-column" [ngStyle]="{'gap': '5px', 'align-items': 'end'}">
            <button class="item-button" id="editar_entrega" onclick="editar_entrega_modal.showModal()">
                <img class="item-icon" src="../../../assets/icons/edit_icon.png" alt="Ícono de edición">
            </button>
            <button class="item-button" onclick="confirmar_borrar.showModal()" id="eliminar_entrega">
                <img class="item-icon" src="../../../assets/icons/delete_icon.png" alt="Ícono de edición">
            </button>
        </div> -->
    </div>

    <div [ngStyle]="{'margin-top':'20px'}">Activos que se facturaron:</div>

    <div class="asset-container" [ngStyle]="{'gap':'10px'}">
        
        <activo-entrega *ngFor="let activo of activosArray()" [activoItem]="activo"></activo-entrega>
        
    </div>
</div>
