<div class="container-column" [ngStyle]="{'gap':'15px'}">
    <div class="item-details">
        <div class="item-details-title" routerLink="/detalles-responsable">{{ responsableItem.nombre }}</div>
        <div class="item-details-text">Cédula: {{ responsableItem.cedula }}</div>
        <div class="item-details-text">Correo: {{ responsableItem.correo }}</div>
        <div class="item-details-text">Teléfono: {{ responsableItem.telefono }}</div>
    </div>

    <div class="container-column">
        <label class="window-title">Entregas</label>
        <div class="item-container">
            
            <div class="item container-column">

                <entrega-detalles-ubicacion *ngFor="let entrega of entregasArray()" [entregaItem]="entrega"></entrega-detalles-ubicacion>

            </div>
        </div>
    </div>
</div> 