:host{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container-row{ /*sobreescribe una clase global*/
    align-items: center;
}

.container-column{ /*sobreescribe una clase global*/
    justify-content: space-around;
}

.item-container{
    --gap: 10px;
    --columns: 10;
    background-color: var(--Dark-light-grey);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    overflow:hidden;
    overflow-y:auto;
    gap: var(--gap);
    padding: 10px;
}
