<div class="item-container">

    <div>

        <div class="item container-row">
            <div class="container-column">
                <label class="item-title">Comercializadora textil Coltex Ltda.</label>
                <label class="item-detail">1234567890</label>
            </div>
            <button class="item-button" id="editar_cliente" onclick="modal.showModal()">
                <img class="item-icon" src="../../assets/icons/edit_icon.png" alt="Ícono de edición">
            </button>  
        </div>

    </div>

</div>