:host{
    height: 100%;
}

/* Estilos de los items */

.item-details{
    background-color: var(--Dark-light-grey);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.item-details-title{
    color: var(--White);
    font-weight: 600;
    font-size: 18px;
}

.item-details-text{
    color: var(--White);
    font-size: 16px;
}

.item{
    width: 100%;
    height: auto;
    background-color: var(--Light-light-grey);
    border-radius: 10px;
    padding: 5px;
}

.sub-item{
    width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    height: auto;
    background-color: var(--Light-light-grey);
    border-radius: 10px;
    padding: 5px;
}

.item-container{
    --gap: 10px;
    background-color: var(--Dark-light-grey);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    overflow:hidden;
    overflow-y:scroll;
    gap: var(--gap);
    padding: 10px;
}

.asset-container{
    --columns: 2;
    background-color:var(--Dark-medium-grey); 
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-color: var(--black);
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: hidden;
    overflow-y: hidden;
    gap: var(--gap);
    padding: 10px;
}

.item-button{
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;
    border-color: var(--Light-medium-grey) ;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-icon{
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    filter: brightness(0) saturate(100%) invert(87%) sepia(6%) saturate(138%) hue-rotate(191deg) brightness(83%) contrast(83%);
}

.item-button:hover{
    border-color: var(--Dark-light-grey);

    .item-icon{
        filter: brightness(0) saturate(100%) invert(39%) sepia(5%) saturate(216%) hue-rotate(182deg) brightness(95%) contrast(86%);
    }
}

.separator{
    width: 100%;
    height: 1px;
    background-color: var(--White);
}

.window-title{
    font-size: 18px;
    font-weight: 600;
    color: var(--White);
    margin-left: 10px;
}

/* Estilos de las input en las ventanas modales*/

.dropdown{
    width: 100%;
    padding-bottom: 2px;
    background-color: var(--Dark-light-grey);
    color: white;
    border-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: var(--White);
    border-bottom-width: 1px;
    cursor: pointer;
}

.dropdown:focus{
    outline: none;
}

input[type="date"] { 
    font-size: 14px;
}

input[type="date"]::-webkit-datetime-edit-text { 
    padding: 0 5px; 
}

input[type="date"]::-webkit-calendar-picker-indicator { 
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(210%) hue-rotate(194deg) brightness(116%) contrast(100%);
    border-radius: 5px;
}

input::-webkit-calendar-picker-indicator:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(71%) saturate(573%) hue-rotate(17deg) brightness(101%) contrast(81%);
    cursor: pointer;
} 