<nav class="main-menu">

    <branding-container></branding-container>

    <hr class="separator">
    <button class="main-menu-button" routerLink="/pendientes">Pendientes de facturación</button>
    <hr class="separator">
    <button class="main-menu-button" routerLink="/activos">Activos</button>
    <button class="main-menu-button" routerLink="/facturas">Facturas</button>
    <button class="main-menu-button" routerLink="/clientes">Clientes</button>
    <hr class="separator">
    <button class="main-menu-button" routerLink="/ubicaciones">Ubicaciones</button>
    <button class="main-menu-button" routerLink="/responsables">Responsables</button>
    
    <messages></messages>
</nav>