<div class="container-column" [ngStyle]="{'gap':'15px'}">
    <div class="item-details">
        <div class="item-details-title" routerLink="/detalles-factura">RM{{ facturaItem.numero_factura }}</div>
        <hr class="separator">
        <div class="item-details-text">Generada en: {{ facturaItem.fecha_generacion | date: 'dd/MM/yyyy':'+0:01' }}</div>
    </div>

    <div class="container-column">
        <label class="window-title">Activos facturados</label>
        <div class="item-container">

            <periodo-detalles-factura *ngFor="let periodo of periodosArray()" [periodoItem]="periodo"></periodo-detalles-factura>

        </div>
    </div>
</div>

