<modales-detalles-activo [idActivo]="activoItem.id_activo"></modales-detalles-activo>

<top-bar>
    <button class="secondary-menu-main-button" id="nueva_entrega" onclick="newEntregaModal.showModal()">+ Nueva entrega</button>
</top-bar>

<div class="container-row" [ngStyle]="{'gap':'15px'}">

    <div class="item-details" [ngStyle]="{'overflow':'hidden', 'overflow-y':'hidden', 'height':'auto'}">
        <div class="container-row" [ngStyle]="{'height':'auto', 'justify-content':'space-between'}">
            <span class="item-details-title">{{activoItem.numero_serie}}</span>
            <!-- <button class="go-back-button" type="button" (click)="goBack()">Volver &#60;---</button> -->
        </div>
        <hr class="separator">
        <div class="container-row" [ngStyle]="{'height':'auto', 'align-items':'center'}">
            <div class="item-details-text">{{ tipoSignal().formfactor }}</div>
            <div class="item-details-text">{{ marcaSignal().nombre }}</div>
            <div class="item-details-text">modelo {{ activoItem.modelo }}</div>
        </div>
        <hr class="separator">
        <div class="container-row" [ngStyle]="{'height':'auto', 'align-items':'center'}">
            <div class="item-details-text">Estado:</div>
            <div class="item-details-estado" [ngStyle]="{'background-color': '#' + estadoSignal().color, 'color': contrastColorComputed(), 'border-color': contrastColorComputed()}">{{estadoSignal().estado}}</div>
        </div>
        <hr class="separator">
        <div class="item-details-text">Precio de renta mensual: ${{activoItem.precio_renta}}</div>
        <hr class="separator">
        <div class="item-details-text">Proveedor: {{proveedorSignal().nombre}}</div>
        <div class="item-details-text">Comprado con factura: {{activoItem.factura_compra}}</div>
        <div class="item-details-text">Comprado en: {{activoItem.fecha_compra | date: 'yyyy-MM-dd':'+0:01'}}</div>
        <div class="item-details-text">Valor comercial: ${{activoItem.valor}}</div>
        <hr class="separator">
        <div class="item-details-text">Activo prestado por: {{prestadorSignal().nombre}}</div>
    </div>

    <div class="container-column" [ngStyle]="{'overflow':'hidden', 'overflow-y':'hidden', 'height':'auto'}">
        <label class="window-title">Periodos asociados</label>
        <div class="item-container">

            <periodo-detalles-activo *ngFor="let periodo of periodosArray()" [periodoItem]="periodo"></periodo-detalles-activo>

        </div>
    </div>

    <div class="container-column" [ngStyle]="{'overflow':'hidden', 'overflow-y':'hidden', 'height':'auto'}">
        <label class="window-title">Entregas asociadas</label>
        <div class="item-container">

            <entrega-detalles-activo *ngFor="let entrega of entregasArray()" [entregaItem]="entrega"></entrega-detalles-activo>

        </div>
    </div>
</div>
