:host{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Estilos de los items */

.item-details-estado{
    font-size: 16px;
    font-weight:600;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

.item{
    width: 100%;
    height: fit-content;
    background-color: var(--Light-light-grey);
    border-radius: 10px;
    padding: 5px;
}

.item-container{
    --gap: 10px;
    --columns: 5;
    background-color: var(--Dark-light-grey);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    overflow:hidden;
    overflow-y:auto;
    gap: var(--gap);
    padding: 10px;
}

.item-details{
    background-color: var(--Dark-light-grey);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.item-input{
    border-bottom-style: solid;
    border-bottom-color: var(--White);
    border-bottom-width: 1px;
    width: 100%;
    overflow: hidden;
}

.item-input:focus{
    outline: none;
}

.item-title:read-only{
    color: var(--Black);
    font-size: 14px;
}

.item-title-input{ /*PENDIENTE*/
    border-radius: 5px;
    border-style: none;
    color: var(--Black);
    font-weight: 700;
    font-size: 20px;
}

.item-title-input:read-only{
    color: var(--White);
    background-color: transparent;
    border: 0;
}

.item-details-text{
    color: var(--White);
    font-size: 16px;
}

.item-detail{ /*PENDIENTE*/
    border-radius: 5px;
    border-style: none;
    color: var(--Black);
    font-size: 16px;
}

.item-detail:read-only{
    color: var(--White);
    background-color: transparent;
    border: 0;
    width: 100%;
}

.item-button-container{
    max-width: 30px;
    justify-content: center;
}

.item-button{
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;
    border-color: var(--Light-medium-grey) ;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-submit-button{
    height: 100%;
    border-radius: 5px;
    color: var(--White);
    border-color: var(--Light-medium-grey);
    background-color: var(--Primary);
    border-style: none;
    cursor: pointer;
    padding: 0;
}

.item-submit-button:disabled{
    background-color: var(--disabled-bg);
    color: var(--Light-medium-grey);
    border-color: var(--Light-medium-grey);
    cursor:not-allowed;
}

.item-cancel-button{
    height: 100%;
    border-radius: 5px;
    color: var(--White);
    border-color: var(--Light-medium-grey);
    background-color: var(--Warning);
    border-style: none;
    cursor: pointer;
    padding: 0;
}

.go-back-button{
    width: auto;
    height: auto;
    color: var(--Black);
    font-size: 12px;
    background-color: var(--Light-light-grey);
    border-radius: 5px;
    border-color: var(--Black) ;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.item-icon{
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    filter: brightness(0) saturate(100%) invert(87%) sepia(6%) saturate(138%) hue-rotate(191deg) brightness(83%) contrast(83%);
}

.item-button:hover{
    border-color: var(--Dark-light-grey);

    .item-icon{
        filter: brightness(0) saturate(100%) invert(39%) sepia(5%) saturate(216%) hue-rotate(182deg) brightness(95%) contrast(86%);
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"] { 
    font-size: 16px;
}

input[type="date"]::-webkit-datetime-edit-text { 
    padding: 0px; 
}

input[type="date"]::-webkit-calendar-picker-indicator { 
    /* filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(210%) hue-rotate(194deg) brightness(116%) contrast(100%); */
    filter: brightness(0) saturate(100%) invert(0);
    border-radius: 5px;
}

input::-webkit-calendar-picker-indicator:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(71%) saturate(573%) hue-rotate(17deg) brightness(101%) contrast(81%);
    cursor: pointer;
} 

.separator{
    width: 100%;
    height: 1px;
    background-color: var(--White);
}

.window-title{
    font-size: 18px;
    font-weight: 600;
    color: var(--White);
    margin-left: 10px;
}
