:host{
    --gap: 10px;
    --columns: 6;
    --item-width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns))); 
    width: var(--item-width);
    height: auto;
}

.item{
    min-width: var(--item-width);
    height: auto;
    background-color: var(--Light-light-grey);
    border-radius: 10px;
    padding: 10px;
}

.item-title{
    color: var(--Black);
    font-size: 14px;
}

.item-input{
    border-bottom-style: solid;
    border-bottom-color: var(--White);
    border-bottom-width: 1px;
    width: auto;
    overflow: hidden;
}

.item-input:focus{
    outline: none;
}

.item-title:read-only{
    color: var(--Black);
    font-size: 14px;
}

.item-title-input{ /*PENDIENTE*/
    font-size: 14px;
    border-radius: 5px;
    border-style: none;
}

.item-title-input:read-only{
    color: var(--Black);
    font-size: 14px;

    background-color: transparent;
    border: 0;
}

.item-title-input:read-only:hover{
    text-decoration: underline;
    cursor: pointer;
}

.item-detail{
    color: var(--Light-dark-grey);
    font-size: 12px;

    border-radius: 5px;
    border-style: none;
}

.item-detail:read-only{
    color: var(--Light-dark-grey);
    font-size: 12px;

    background-color: transparent;
    font-size: 12px;
    border: 0;
    width: 100%;
}

.item-button-container{
    max-width: 30px;
    justify-content: center;
}

.item-button{
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;
    border-color: var(--Light-medium-grey) ;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-submit-button{
    height: 100%;
    border-radius: 5px;
    color: var(--White);
    border-color: var(--Light-medium-grey);
    background-color: var(--Primary);
    border-style: none;
    cursor: pointer;
    padding: 0;
}

.item-submit-button:disabled{
    background-color: var(--disabled-bg);
    color: var(--Light-medium-grey);
    border-color: var(--Light-medium-grey);
    cursor:not-allowed;
}

.item-cancel-button{
    height: 100%;
    border-radius: 5px;
    color: var(--White);
    border-color: var(--Light-medium-grey);
    background-color: var(--Warning);
    border-style: none;
    cursor: pointer;
    padding: 0;
}

.item-icon{
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    filter: brightness(0) saturate(100%) invert(87%) sepia(6%) saturate(138%) hue-rotate(191deg) brightness(83%) contrast(83%);
}

.item-button:hover{
    border-color: var(--Dark-light-grey);

    .item-icon{
        filter: brightness(0) saturate(100%) invert(39%) sepia(5%) saturate(216%) hue-rotate(182deg) brightness(95%) contrast(86%);
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
