<div class="item container-row">
    <div class="container-column" [ngStyle]="{'margin-right': '2px'}">
        <input 
            type="text" 
            class="item-input item-title-input" 
            [readonly]="!editing" 
            placeholder="Nombre"
            [(ngModel)]="nombre" 
            [routerLink]="!editing ? '/responsable/{{responsableItem.id_responsable}}' : null" 
            [state]="this.responsableItem">

        <div class="container-row" [ngStyle]="{'align-items': 'center', 'gap':'2px'}">
            <div class="item-detail" [ngStyle]="{'width': 'auto'}">C.C.</div>
            <input 
                type="number" 
                class="item-input item-detail" 
                [ngStyle]="{'width': '100%'}"
                [readonly]="!editing" 
                placeholder="Cédula"
                [(ngModel)]="cedula">
        </div>

        <input 
            type="text" 
            class="item-input item-detail" 
            [readonly]="!editing" 
            placeholder="Correo electrónico"
            [(ngModel)]="correo">
        <input 
            type="text" 
            class="item-input item-detail" 
            [readonly]="!editing" 
            placeholder="Teléfono"
            [(ngModel)]="telefono">
    </div>    
    <div class="container-column item-button-container">
        <button class="item-button" id="editar_responsable" (click)="editing = true" *ngIf="!editing">
            <img class="item-icon" src="../../assets/icons/edit_icon.png" alt="Ícono de edición">
        </button>
        <button class="item-submit-button" (click)="submitEditResponsable()" *ngIf="editing" [disabled]="(nombre == '' || cedula == null || telefono == '' || correo == '')">✓</button>
        <button class="item-cancel-button" (click)="resetValues()" *ngIf="editing">X</button> 
    </div>
</div>


