<div class="item-container">

    <div class="item container-row" *ngFor="let cliente of filteredClientesArray()"> <!--item template-->
        <div class="container-column">
            <div class="item-title" routerLink="/detalles-cliente">{{ cliente.nombre }}</div>
            <div class="container-row" [ngStyle]="{gap:'0px'}">
                <div class="item-detail">{{ cliente.nit }}</div>
                <div class="item-detail" *ngIf="cliente.digito_verificacion != undefined">-{{ cliente.digito_verificacion }}</div>
            </div>
        </div>
        <button class="item-button" id="editar_cliente" onclick="modal.showModal()">
            <img class="item-icon" src="../../assets/icons/edit_icon.png" alt="Ícono de edición">
        </button>  
    </div>

</div>