<div class="item-container">

    <div class="item container-row" *ngFor="let responsable of responsablesArray"> <!--item template-->
        <div class="container-column">
            <div class="item-title" routerLink="/detalles-responsable">{{ responsable.nombre }}</div>
            <div class="item-detail">{{ responsable.cedula }}</div>
            <div class="item-detail">{{ responsable.correo }}</div>
            <div class="item-detail">{{ responsable.telefono }}</div>
        </div>
        <button class="item-button" id="editar_factura" onclick="modal.showModal()">
            <img class="item-icon" src="../../assets/icons/edit_icon.png" alt="Ícono de edición">
        </button>  
    </div>

</div>