:host{
    height: 100%;
    overflow: hidden;
}

/* Clases que sobreescriben a las globales */

.container-column{
    width: auto;
}

/* Estilos del drowpdown */

.dropdown{
    height: 32px;
    padding-bottom: 2px;
    background-color: var(--Dark-dark-grey);
    color: white;
    border-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: var(--Light-dark-grey);
    border-bottom-width: 2px;
    cursor: pointer;
}

.dropdown:focus{
    outline: none;
}

.item-container{
    --gap: 10px;
    --columns: 2;
    background-color: var(--Dark-light-grey);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    overflow:hidden;
    overflow-y:auto;
    gap: var(--gap);
    padding: 10px;
}
