<dialog id="confirmar_borrar" class="modal">
    <div class="container-column modal-flex" style="align-items: center;">
        <p class="modal-text">
            ¿Está seguro de que desea eliminar la entrada?
        </p>
        <p class="modal-text">
            Esta acción es
            <u class="modal-label" style="font-weight: 600;">
                permanente
            </u>
        </p>
        <div class="container-row modal-flex">
            <button class="modal-secondary-button" onclick="confirmar_borrar.close()">Cancelar</button>
            <button class="modal-warning-button">Confirmar</button>
        </div>                    
    </div>
</dialog>

<dialog id="editar_periodo_modal" class="modal">
    <div class="container-column modal-flex">
        <div class="container-row modal-flex">
            <label class="modal-label">Factura</label>
            <select class="dropdown" name="Factura" id="Factura" aria-label="label">
                <option value="RM9876">RM9876</option>
                <option value="RM9985">RM9985</option>
                <option value="RM9876">RM8962</option>
            </select>
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Fecha de inicio</label>
            <input type="date" class="modal-input">
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Fecha de fin</label>
            <input type="date" class="modal-input">
        </div>
        <div class="container-row modal-flex">
            <button class="modal-secondary-button" onclick="editar_periodo_modal.close()">Descartar</button>
            <button class="modal-main-button">Guardar</button>
        </div>                    
    </div>
</dialog>

<dialog id="editar_entrega_modal" class="modal">
    <div class="container-column modal-flex">
        <div class="container-row modal-flex">
            <label class="modal-label">Prestado a</label>
            <select class="dropdown" name="Factura" id="Factura" aria-label="label">
                <option value="RM9876">Comercializadora textil Coltex Ltda.</option>
                <option value="RM9985">Placeholder AaBbCcDdEeFfGgHh</option>
                <option value="RM9876">Placeholder AaBbCcDdEeFfGgHh</option>
            </select>
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Entregado en</label>
            <select class="dropdown" name="Factura" id="Factura" aria-label="label">
                <option value="RM9876">Moft Mayorca</option>
                <option value="RM9985">Placeholder AaBbCcDdEeFfGgHh</option>
                <option value="RM9876">Placeholder AaBbCcDdEeFfGgHh</option>
            </select>
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Rebido por</label>
            <select class="dropdown" name="Factura" id="Factura" aria-label="label">
                <option value="RM9876">Catalina Bedoya</option>
                <option value="RM9985">Placeholder AaBbCcDdEeFfGgHh</option>
                <option value="RM9876">Placeholder AaBbCcDdEeFfGgHh</option>
            </select>
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Fecha de entrega</label>
            <input type="date" class="modal-input">
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Fecha de devolución</label>
            <input type="date" class="modal-input">
        </div>
        
        <div class="container-row modal-flex">
            <button class="modal-secondary-button" onclick="editar_entrega_modal.close()">Descartar</button>
            <button class="modal-main-button">Guardar</button>
        </div>                    
    </div>
</dialog>

<!--FIN DE LAS VENTANAS MODALES-->
<!--ROMPER EN COMPONENTES MÁS PEQUEÑOS-->


<div class="container-row" [ngStyle]="{'gap':'15px'}">

    <div class="container-column" [ngStyle]="{'width':'33%', 'gap':'20px'}">

        <div class="item-details" [ngStyle]="{'height':'auto'}">
            <div class="item-details-title" routerLink="/detalles-cliente">{{ clienteItem.nombre }}</div>
            <hr class="separator">
            <div class="container-row" [ngStyle]="{gap:'0px'}">
                <div class="item-details-text">NIT: {{ clienteItem.nit }}</div>
                <div class="item-details-text" *ngIf="clienteItem.digito_verificacion != null">-{{ clienteItem.digito_verificacion }}</div>
            </div>
        </div>
    
        <div class="container-column">
            <label class="window-title">Ubicaciones</label>
            <div class="item-container">
    
                <ubicacion-detalles-cliente *ngFor="let ubicacion of ubicacionesArray()" [ubicacionItem]="ubicacion"></ubicacion-detalles-cliente>
    
            </div>
        </div>

    </div>

    <div class="container-column">
        <label class="window-title">Entregas</label>
        <div class="item-container">
            
            <entrega-detalles-cliente *ngFor="let entrega of entregasArray()" [entregaItem]="entrega"></entrega-detalles-cliente>

        </div>
    </div>
</div>