<dialog id="confirmar_borrar" class="modal">
    <div class="container-column modal-flex" style="align-items: center;">
        <p class="modal-text">
            ¿Está seguro de que desea eliminar la entrada?
        </p>
        <p class="modal-text">
            Esta acción es
            <u class="modal-label" style="font-weight: 600;">
                permanente
            </u>
        </p>
        <div class="container-row modal-flex">
            <button class="modal-secondary-button" onclick="confirmar_borrar.close()">Cancelar</button>
            <button class="modal-warning-button">Confirmar</button>
        </div>                    
    </div>
</dialog>

<dialog id="editar_periodo_modal" class="modal">
    <div class="container-column modal-flex">
        <div class="container-row modal-flex">
            <label class="modal-label">Factura</label>
            <select class="dropdown" name="Factura" id="Factura" aria-label="label">
                <option value="RM9876">RM9876</option>
                <option value="RM9985">RM9985</option>
                <option value="RM9876">RM8962</option>
            </select>
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Fecha de inicio</label>
            <input type="date" class="modal-input">
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Fecha de fin</label>
            <input type="date" class="modal-input">
        </div>
        <div class="container-row modal-flex">
            <button class="modal-secondary-button" onclick="editar_periodo_modal.close()">Descartar</button>
            <button class="modal-main-button">Guardar</button>
        </div>                    
    </div>
</dialog>

<dialog id="editar_entrega_modal" class="modal">
    <div class="container-column modal-flex">
        <div class="container-row modal-flex">
            <label class="modal-label">Prestado a</label>
            <select class="dropdown" name="Factura" id="Factura" aria-label="label">
                <option value="RM9876">Comercializadora textil Coltex Ltda.</option>
                <option value="RM9985">Placeholder AaBbCcDdEeFfGgHh</option>
                <option value="RM9876">Placeholder AaBbCcDdEeFfGgHh</option>
            </select>
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Entregado en</label>
            <select class="dropdown" name="Factura" id="Factura" aria-label="label">
                <option value="RM9876">Moft Mayorca</option>
                <option value="RM9985">Placeholder AaBbCcDdEeFfGgHh</option>
                <option value="RM9876">Placeholder AaBbCcDdEeFfGgHh</option>
            </select>
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Rebido por</label>
            <select class="dropdown" name="Factura" id="Factura" aria-label="label">
                <option value="RM9876">Catalina Bedoya</option>
                <option value="RM9985">Placeholder AaBbCcDdEeFfGgHh</option>
                <option value="RM9876">Placeholder AaBbCcDdEeFfGgHh</option>
            </select>
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Fecha de entrega</label>
            <input type="date" class="modal-input">
        </div>
        <div class="container-row modal-flex">
            <label class="modal-label">Fecha de devolución</label>
            <input type="date" class="modal-input">
        </div>
        
        <div class="container-row modal-flex">
            <button class="modal-secondary-button" onclick="editar_entrega_modal.close()">Descartar</button>
            <button class="modal-main-button">Guardar</button>
        </div>                    
    </div>
</dialog>

<!--FIN DE LAS VENTANAS MODALES-->
<!--ROMPER EN COMPONENTES MÁS PEQUEÑOS-->

<div class="container-column" [ngStyle]="{'gap':'15px'}">
    <div class="container-row" [ngStyle]="{'gap':'15px'}">
        <div class="item-details">
            <div class="item-details-title" routerLink="/detalles-cliente">{{ clienteItem.nombre }}</div>
            <hr class="separator">
            <div class="container-row" [ngStyle]="{gap:'0px'}">
                <div class="item-details-text">NIT: {{ clienteItem.nit }}</div>
                <div class="item-details-text" *ngIf="clienteItem.digito_verificacion != null">-{{ clienteItem.digito_verificacion }}</div>
            </div>
        </div>

        <div class="container-column">
            <label class="window-title">Ubicaciones</label>
            <div class="item-container">

                <ubicacion-detalles-cliente *ngFor="let ubicacion of ubicacionesArray()" [ubicacionItem]="ubicacion"></ubicacion-detalles-cliente>

            </div>
        </div>

        <div class="container-column">
            <label class="window-title">Entregas</label>
            <div class="item-container">
                
                <div class="item container-column">

                    <div class="container-row" [ngStyle]="{'height':'auto'}">
                        <div class="container-column">
                            <span>Moft Mayorca</span> <!--Hacer que la ubicación se subraye y que permita ir a los detalles de la factura-->
                            <span>Recibido por: Catalina Bedolla</span> <!--Hacer que el responsable se subraye y que permita ir a los detalles de la factura-->
                            <span>23-01-2023 | ...</span>
                            <span>Activos que se entregaron:</span>
                        </div>
                        <div class="container-column" [ngStyle]="{'gap': '5px', 'align-items': 'end'}">
                            <button class="item-button" id="editar_entrega" onclick="editar_entrega_modal.showModal()">
                                <img class="item-icon" src="../../../assets/icons/edit_icon.png" alt="Ícono de edición">
                            </button>
                            <button class="item-button" onclick="confirmar_borrar.showModal()" id="eliminar_entrega">
                                <img class="item-icon" src="../../../assets/icons/delete_icon.png" alt="Ícono de edición">
                            </button>
                        </div>
                    </div>

                    <div class="asset-container">
                        <div class="sub-item container-row"> 
                            <div class="container-column">
                                <div class="item-title" routerLink="/detalles-activo">ABCD-1234-EFGH-5678</div>
                                <div class="container-row" [ngStyle]="{'align-items':'center'}">
                                    <div class="item-detail">tipo</div>
                                    <div class="item-detail">marca</div>
                                    <div class="item-detail">modelo</div>
                                </div>
                            </div> 
                        </div>
                        <div class="sub-item container-row"> 
                            <div class="container-column">
                                <div class="item-title" routerLink="/detalles-activo">ABCD-1234-EFGH-5678</div>
                                <div class="container-row" [ngStyle]="{'align-items':'center'}">
                                    <div class="item-detail">tipo</div>
                                    <div class="item-detail">marca</div>
                                    <div class="item-detail">modelo</div>
                                </div>
                            </div> 
                        </div>
                        <div class="sub-item container-row"> 
                            <div class="container-column">
                                <div class="item-title" routerLink="/detalles-activo">ABCD-1234-EFGH-5678</div>
                                <div class="container-row" [ngStyle]="{'align-items':'center'}">
                                    <div class="item-detail">tipo</div>
                                    <div class="item-detail">marca</div>
                                    <div class="item-detail">modelo</div>
                                </div>
                            </div> 
                        </div>
                        <div class="sub-item container-row"> 
                            <div class="container-column">
                                <div class="item-title" routerLink="/detalles-activo">ABCD-1234-EFGH-5678</div>
                                <div class="container-row" [ngStyle]="{'align-items':'center'}">
                                    <div class="item-detail">tipo</div>
                                    <div class="item-detail">marca</div>
                                    <div class="item-detail">modelo</div>
                                </div>
                            </div> 
                        </div>
                        <div class="sub-item container-row"> 
                            <div class="container-column">
                                <div class="item-title" routerLink="/detalles-activo">ABCD-1234-EFGH-5678</div>
                                <div class="container-row" [ngStyle]="{'align-items':'center'}">
                                    <div class="item-detail">tipo</div>
                                    <div class="item-detail">marca</div>
                                    <div class="item-detail">modelo</div>
                                </div>
                            </div> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 