<dialog id="newGrupoModal" class="modal">
    <div class="container-column modal-flex">
        <div class="container-row modal-flex">
            <label class="modal-label">Nombre</label>
            <input type="text" class="modal-input" [(ngModel)]="nombre">
        </div>
        <div class="container-row modal-flex">
            <button class="modal-secondary-button" onclick="newGrupoModal.close()" (click)="clearSelections()">Descartar</button>
            <button class="modal-main-button" [disabled]="(nombre =='')" (click)="submitNewGrupo()" onclick="newGrupoModal.close()">Guardar</button>
        </div>                    
    </div>
</dialog>
