/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap');

/* Variables del sistema */

:root{
    --Dark: #232830;
    --White: #FFFFFF;
    --Primary: #b7d718;
    --Dark-dark-grey: #1e1f22;
    --Dark-medium-grey: #2b2d31;
    --Dark-light-grey: #383a40;
    --Light-dark-grey: #7B7D85;
    --Light-medium-grey: #afb0b4;
    --Light-light-grey: #e2e2e3;
    --Text-input-field: #F7F7F7;
    --Warning: #810a0a;
    --Warning-dark: #4d0505;
    --Black:#000000;
    --disabled-bg: #4e5056;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 10px;    
}

::-webkit-scrollbar:horizontal{
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--White);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--Light-dark-grey);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--Dark-medium-grey);
}

/* Globales */

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif !important;
}

html{
    font-family: 'Work Sans', sans-serif !important;
    margin: 0 !important;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

body {
    margin: 0 !important;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

/* Contenedor global que encapsula toda la ventana */

.content{
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: var(--Dark-dark-grey);
    display: flex;
    flex-direction: row;
}

/* Contenedores */

.container-row{
    width: 100%;
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.container-column{
    width: 100%;
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*seondary menu buttons*/

.secondary-menu-main-button{
    width: auto;
    height: 32px;
    color: var(--White);
    font-size: 12px;
    background-color: var(--Dark-dark-grey);
    border-radius: 5px;
    border-color: var(--Primary) ;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.secondary-menu-secondary-button{
    width: auto;
    height: 32px;
    color: var(--White);
    font-size: 12px;
    background-color: var(--Dark-dark-grey);
    border-radius: 5px;
    border-color: var(--White) ;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.secondary-menu-secondary-button:disabled{
    background-color: var(--disabled-bg);
    border-color: var(--Light-medium-grey);
    color: var(--Light-medium-grey);
    cursor: not-allowed;
}

.image-button{
    width: 15px;
    height: 15px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(102%) contrast(102%);
}

/*modal (pop-ups)*/

.modal-flex{
    gap: 15px;
}

.modal{
    background-color: var(--Dark-light-grey);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--White);
    padding: 15px;
    width: fit-content;
    height: fit-content;
    gap: 15px;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-label{
    font-weight: 600;
    color: var(--White);
    font-size: 14px;
    white-space: nowrap;
}

.modal-text{
    color: var(--White);
    font-size: 14px;
    white-space: nowrap;
    margin: 0;
}

.modal-input{
    font-family: 'Work Sans';
    background-color: transparent;
    color: var(--White);
    font-size: 12px;
    border: 0;
    border-bottom-style: solid;
    border-bottom-color: var(--White);
    border-bottom-width: 1px;
    width: 100%;
}

.modal-input:focus{
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-main-button{
    width: 50%;
    height: 32px;
    color: var(--Black);
    font-size: 12px;
    background-color: var(--Primary);
    border-radius: 5px;
    border-color: var(--White) ;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 14px;
}

.modal-main-button:disabled{
    background-color: var(--disabled-bg);
    color: var(--Light-medium-grey);
    border-color: var(--Light-medium-grey);
}

.modal-secondary-button{
    width: 50%;
    height: 32px;
    color: var(--White);
    font-size: 12px;
    background-color: var(--Dark-dark-grey);
    border-radius: 5px;
    border-color: var(--White) ;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 14px;
}

.modal-warning-button{
    width: 50%;
    height: 32px;
    color: var(--White);
    font-size: 12px;
    background-color: var(--Warning);
    border-radius: 5px;
    border-color: var(--White) ;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown{
    width: 100%;
    padding-bottom: 2px;
    background-color: var(--Dark-light-grey);
    color: white;
    border-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: var(--White);
    border-bottom-width: 1px;
    cursor: pointer;
}

.dropdown:focus{
    outline: none;
}

input[type="date"] { 
    font-size: 14px;
}

input[type="date"]::-webkit-datetime-edit-text { 
    padding: 0 5px; 
}

input[type="date"]::-webkit-calendar-picker-indicator { 
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(210%) hue-rotate(194deg) brightness(116%) contrast(100%);
    border-radius: 5px;
}

input::-webkit-calendar-picker-indicator:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(71%) saturate(573%) hue-rotate(17deg) brightness(101%) contrast(81%);
    cursor: pointer;
} 
