<modales-vista-activos></modales-vista-activos>

<top-bar>
    <button class="secondary-menu-main-button" id="nuevo_activo" onclick="newActivoModal.showModal()">+ Nuevo activo</button>
    <button class="secondary-menu-secondary-button" id="nuevo_grupo" onclick="newGrupoModal.showModal()">+ Nuevo grupo</button>
</top-bar>

<div class="item-container">

    <grupo-activos *ngFor="let grupo of gruposArray()" [grupoItem]="grupo" (activosAmountChanged)="updateActivosAmount($event)"></grupo-activos> <!--poner un ngFor para ver varios grupos de activos-->

</div>
