<nav class="main-menu">

    <branding-container></branding-container>

    <hr class="separator">
    <button class="main-menu-button">Pendientes de facturación</button>
    <hr class="separator">
    <button class="main-menu-button">Activos</button>
    <button class="main-menu-button">Facturas</button>
    <button class="main-menu-button">Clientes</button>
    <hr class="separator">
    <button class="main-menu-button">Ubicaciones</button>
    <button class="main-menu-button">Responsables</button>
    
</nav>