<nav class="main-menu">

    <branding-container></branding-container>

    <hr class="separator">
    <button class="main-menu-button" routerLink="/pendientes-facturacion">Pendientes de facturación</button>
    <hr class="separator">
    <button class="main-menu-button" routerLink="/vista-activos">Activos</button>
    <button class="main-menu-button" routerLink="/vista-facturas">Facturas</button>
    <button class="main-menu-button" routerLink="/vista-clientes">Clientes</button>
    <hr class="separator">
    <button class="main-menu-button">Ubicaciones</button>
    <button class="main-menu-button">Responsables</button>
    
</nav>