.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7.5px;
}

.window-title{
    font-size: 18px;
    font-weight: 600;
    color: var(--White);
    margin-left: 10px;
}

.secondary-menu{
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.secondary-menu-buttons-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}
